@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Shared Style  */
.displayflex {
    display: flex;
}
.dark-one{
    color: rgba(19, 19, 19, 1);
}
.dark-two{
    color: rgba(66, 66, 66, 1);
}
.dark-three{
    color: rgba(114, 114, 114, 1);
}
.text-clr{
    color: rgba(114, 114, 114, 1);
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.orange{
    color: rgba(255, 144, 14, 1);
}


/* Header style */

/* navbar style */
.navbar {
    
    justify-content: space-between;
    align-items: center; 
}
.navlist {
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.nav-item{
    list-style: none;
}
.nav-link {
    text-decoration: none;

}
.brand {
    font-size: 3rem;
    font-weight: bold;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content {
    
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.1rem;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
 
}
.banner-description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.feature-description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
}
.banner-img {
    width: 100%; 
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;     
}
.btn-primary:hover {
    background-color: #e07b0c;
}
.teams {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.teams-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.teams-features {
    max-width: 537px;
    margin-left: 73px;
}
.features{
    gap: 146px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.feature-heading {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
#feature-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}
.feature-card {
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature-card .feature-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
#experience-badge{
    padding: 46px 42px;
    margin-left: -92px;
    margin-top: -87px;
}
#experience-year{
    font-size: 4rem;
    font-weight: bold;
    line-height: 70px;
}
#experience-text{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}
/* fact content */











/* responsive design */
@media screen and (max-width: 768px) {
    .navbar, .navlist, .teams ,.features{
        flex-direction: column;
    }
        .teams-imgs {
        grid-template-columns: repeat(1, 1fr);
        }
.teams-features {
    margin-left: 0;
    text-align: center;
    
}
#experience-badge {
    padding: 20px 24px;
    margin-left: 20px;
    margin-top: 20px;
}
}



/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams-imgs {
        grid-template-columns: repeat(2, 1fr);
    }
    .teams,.features {
        flex-direction: column;
    }
    .teams-features {
        margin-left: 0;
        text-align: center;
    }
        #experience-badge {
            padding: 20px 24px;
            margin-left: 20px;
            margin-top: 20px;
        }
}