@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Shared Style  */
.displayflex {
    display: flex;
}
.dark-one{
    color: rgba(19, 19, 19, 1);
}
.dark-two{
    color: rgba(66, 66, 66, 1);
}
.dark-three{
    color: rgba(114, 114, 114, 1);
}
.text-clr{
    color: rgba(114, 114, 114, 1);
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}


/* Header style */

/* navbar style */
.navbar {
    
    justify-content: space-between;
    align-items: center; 
}
.navlist {
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.nav-item{
    list-style: none;
}
.nav-link {
    text-decoration: none;

}
.brand {
    font-size: 3rem;
    font-weight: bold;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content {
    
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.1rem;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
 
}
.banner-description {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.banner-img {
    width: 100%; 
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;     
}
.btn-primary:hover {
    background-color: #e07b0c;
}

/* responsive design */
@media screen and (max-width: 768px) {
    .navbar, .navlist {
        flex-direction: column;
    }
    .banner-title {
        font-size: 2.5rem;
    }
    .banner-description {
        font-size: 0.9rem;
    }
}